.table {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.cards > {
  margin-right: 20px;
}

.card {
  width: 160px;
  height: 240px;
  background: #ddd;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.score {
  font-size: 50px;
}

.briscola {
  transform: rotate(-90deg);
}

.player-one,
.player-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

